.track01-intro h1{font-family:"Gowun Batang",serif;font-size:clamp(29px,3vw,42px);line-height:1.25;letter-spacing:-.055em;max-width:none}

@media(max-width:700px){.track01-intro h1{font-size:28px;line-height:1.25}}
